
/*Floating Plus Code*/
.floating-plus{
height: 50px;
width: 50px;
border-radius: 50%;
right: 60px;
bottom: 50px;
position: fixed;
margin: 0;
background: rgb(63, 74, 224);
color: #fff;
line-height: 50px;
}

.floating-plus > a >i{
    margin: 0 0 0 17px;
    padding: 0;
    color: #fff;
}

.tablehead{
    width: 80%;
    margin: 0 auto;
}

.mainList .userlist-table{
    width: 100%;
    margin: 0 auto;
    border-collapse:collapse; 
    margin-bottom: 100px;
}

.mainList .userlist-table th{
    height: 40px; 
    background: rgb(76, 132, 235);
    color: #fff;
}

.mainList .userlist-table tr > td{
    padding: 10px;
    text-align: center;
}

.mainList .userlist-table > tr:hover{
    background: rgb(207, 206, 206);
    /* color: #eeeeee; */
    cursor: pointer;
}

.mainList{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    height: 80vh;
}

.fa-go{
    color: green;
}

.fa-stop{
    color: red;
}


/************************
 *  Message box styles
 ************************/

 .msgbox{
     height: 100vh;
     width: 100vw;
     background: rgba(98, 94, 94, 0.849);
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     position: absolute;
     top: 0;
     left: 0;
 }

 .msgbox_form{
     width: 400px;
     height: 100px;
     padding: 50px;
     border-radius: 5px;
     background: rgb(251, 250, 250);
     margin: 15% auto;
 }

 .hide{
     display: none;
 }