*{
    margin: 0;
    padding: 0;
}
.catalog-container{
    max-width: 1370px;
    margin: 0 auto;
    padding: 15px;
    display:flex;
    /* background: red; */
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}
.left{
    width: 60%;
    position: relative;
    float: left;
    text-align: center;
    line-height: 900px;
    /* background: blue; */

}
.right{
    width: 40%;
    float: left;
    /* background: purple; */
    
}
.row i {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    /* background: pink; */
}

/*styling image*/
.imgebox{
    width: 100%;
    height: 300px;
    /* background: green; */
  }
.imgebox img{
    width: 400px;
    height: auto;
}
/*styling each row*/
.topmost{
    margin: 0 0 0px 0;
}

.topmost > span{
    color: rgba(18, 18, 230, 0.913);
    text-transform: uppercase;
    font-size: 12px;
    /* margin-bottom: 20px; */
}
#name{
    height: 30px;
    line-height: 30px;
    /* background: red; */
    padding: 20px 0 5px 0;
}
#name p{
    font-weight: 300;
    font-size: 45px;
    letter-spacing: -2px;
    width: 80%;
    /* margin-bottom: -50px; */
    /* background: blue; */
    float: left;
}
#descript{
    max-height: 120px;
    line-height: 30px;
    border-bottom:1px solid #eaeaea;
    /* margin-bottom: 20px; */
    /* background: red; */
}
#descript p{
    font-size: 14px;
    font-weight: 300;
    color: black;
    line-height: 24px;
    width: 90%;
    
}
#price p, #quan p, #type p{
    font-weight: 450;
    line-height: 30px;
    font-size: 20px;
}
#quan {
    margin-top: 0px;;
    padding: 0;
}
#type{
    padding: 20px 0 50px 0;
     
} 
.btn{
    display: inline-block;
    background-color: black;
    color: #d1990f;
    border-radius: 6px;
    font-size: 20px;
    padding: 12px 30px;
    text-decoration: none;
}
