body, html{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.wrapper{
    height: 100vh;
}

.header{
    width: 100%;
    height: 80px;
    background: red;
}

.content{
    width: 100%;
    height:80vh;
    float: left;
    background: honeydew;
}

.footer{
width: 100%;
height: 20vh;
background: black;
color: #fff;
float: left;
}
