
/*Navation Bar code*/

logo{
    width: 310px;
    height: 100%;
}

.co-name{
    color: #fff;
    margin: 10px 0 0 0px;
    font-size: 14px;
    float: left;

    
} 

logo > img{
    margin: 10px 0 0 20px;
    width: 80px;
    height: auto;
    float: left;
}

profile{
    float: right;
    width: 200px;
    height: 100%;
    color: #C5C6C6;
    /* line-height: 80px; */
    
}

.profile-holder{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 15px; 
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}

.profile-holder > a img{
    width: auto;
    height: 40px;
    right: 40px;
}

profile > .info{
    margin: 5px 0 0 -40px;
    width: 120px;
text-align: center;
    float: left;
    /* background: red; */
}

profile > .logout{
    float: left;
    width: 40%;
    height: 20px;
    margin: 5px 0 0 0;
    padding-left: 10px;
    border-left: 2px solid #C5C6C6;
}

profile > .logout > a{
    color: #C5C6C6;
    font-size: 15px;
}

profile-detail{
    display:none;
    background: #d1990f;
    border: 1px solid #645e5e;
    width: 400px;
    min-height: 600px;
    height: 800px;
    position: absolute;
    /* z-index: -999; */
    margin: 5px 100px 0 -210px;
    border-radius: 5px;
    overflow: hidden;
}

/* Search Style */
search{
    position: absolute;
    width: 60%;
    margin: 1.5vh 0 0 55px;
    /* background: red; */
}

search form > input[type="text"]{
    border: none;
    height: 35px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    font-size: 15px;
    
}

/* Menu for admin user */
menunav{
    position: absolute;
    margin-left:0px;
    /* background: red; */
    padding: 0;
    width: 310px;
    margin-top: 6vh;
    color: #C5C6C6;
}

menunav > ul > li > a{
    color: #C5C6C6;
    text-decoration: none;
}

menunav > ul > li > a:hover{
    text-decoration: underline;
}

menunav > ul > li{
    display: inline-block;
    margin-left: 15px;
}

