html, body{
height: 100%;
width:100%;
margin:0;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.item-wrapper{
max-width: 100%;
margin: 0 auto;
padding:15px;

}
.sidebar, .item-container{
float: left;
height: 800px;
}
.sidebar{

background-color: white;
width: 310px;
border-right: 1px solid #cfcfcf;


}
.item-container{
width: 75%;
border: 2px solid #ffff;
margin: 0 auto; 
/* background: red; */


}

.imgebox
{
box-sizing: border-box;
height: 120px;
padding-bottom: 80px;
}
.left{
float: left;
width: 50%;
}
.right{
float: right;
width: 50%;
}
.row{
width: 100%;
/* border: 1px solid green; */
}
#name{
padding-top: 50px;
padding-bottom: 30px;
}
#descript, #price, #quan{
padding-top: 20px;
padding-bottom: 15px;
}


/**
item profile styles 
*/

.item_profile_container{
width: 300px;
height: 410px;
/* background: red; */
margin: 5px;
border: 1px solid #cccccc;
border-radius: 5px;
display: inline-block;

}

.item_profile_image{
width: 100%;
height: 250px;
overflow: hidden;
text-align: center;
border-bottom:1px solid rgba(165, 45, 45, 0.2);
}

.item_profile_image > img{
width: 250px;
height: auto;
max-height: 250px;
}

.item_profile_container > .row > .description{
padding: 5px; 
font-size: 14px;
width: 290px;
white-space: wrap;
overflow: hidden;
text-overflow: ellipsis;

}

.item_profile_container > .row > .name{
padding: 5px;
}

.item_profile_container > .row > .price{
padding: 5px;
font-size: 16px;
}

.item_profile_container > .row > .price > .quantity{
padding: 5px;
font-size:16px;
float: right;
}
/* Category Style*/

.title, .catlist{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 100;
letter-spacing: 1px;
color: #000;
text-align: center;
width: 100%;
}
.title{
font-size: 25px;
background-color:#d1990f;;
height:60px;
line-height: 60px;
}


.cat-list{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding:0;
}  

li:last-child{
    border-bottom: none;
}

.cat-list li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    width:304px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding:0;
    margin: 3px 0;


}
.cat-list > li > a{
    text-decoration: none;
    color: #000;
    display: block;
}

.cat-list a:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
}
.cat-list li:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
}

