/* .sub-menu li{
    list-style: none;
    display: inline-block;
}

.sub-menu > li:last-child{
    padding-left: 10px;
} */

.report_title{
    width: 300px;
    text-align: center;
}

.m_report_container, .adhoc_report_container{
    /* padding: 15px; */
    /* background: red; */
    height: 100%;
    overflow: hidden;
    /* position: absolute; */
    width: 100%;
}

.addhoc_controller{
    width: 350px;
    height: 100%;
    float: left;
    /* border-right: 1px solid red; */
    /* background: blue; */
    padding: 15px;
}
.addhoc_controller > table {
    height: 60%;
    width: 100%;
    /* background: red; */
}
.addhoc_controller > table > tr > td{
    background: palevioletred;
}
.addhoc_controller > table > tr > td:first-child{
    width: 30%;
    background: red;
}

.addhoc_controller > table > tr > td:nth-child(2){
    width: 70%;
    background: blue;
}

.adhoc_table{
    /* overflow-y: scroll; */
    border-left:1px solid rgb(189, 198, 207);
    height: 101%;
    width: 65%;
    float: left;
    margin-top: -70px;
    overflow-y: scroll;
}

.adhoc_table > table{
    width: 100%;
    margin-bottom: 200px;
    border-collapse: collapse;
    
}

.adhoc_table  td{
    text-align: center;
    border-bottom: 1px solid #b8bbbb62;
    height: 50px;
}


.adhoc_table > table th{ 
    height: 50px;
    color: #fff;
    background: rgb(60, 60, 200);
}

.adhoc_tbl_result > tr > td:first-child{
    height: 50px;
    width: 200px;
}

.adhoc_tbl_header{
    height: 50px;
    background-color: #25b7c4;
    padding: 10px;
    color: #fff;
}

.data_result{
    overflow-y: scroll;
    height: 80%;
    background: blue;
}

.num{
    width: 65px;
}

input[type="text"]{
    width: 120px;
}

.logics{
    width: 40%;
}

.category_sel{
    width:120px;
    height: 25px;
}


input[type="text"], .num{
    height: 20px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}

#name_input_box, #qty_sel_input_box, #price_sel_input_box, #cat_select_box{
    display: none;
}
/**************************************************************************
 *
 *                          Management Report
 * 
 ***************************************************************************/
.m_report_container{
     /* width: 2000px; */
     /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.left{
    float: left;
    width: 10%;
    height: 100%; 
    padding: 15px 20px;
    margin: 0;
    border-right: 1px solid #cfcccc;
    box-shadow: 2px 2px 2px #cfcccc;
    /* background: red; */
}
.right{
    float: left;
    width: 80%;
    height: 50vh;
    margin:  0 0 300px 0;
    padding: 0 20px 300px 20px;
    overflow-y: scroll;
    
}
/*styling the buttons*/
.r_btn{
    display: list-item;
    list-style: none;
background-color:  #25b7c4;
color: #f3f0f0;

border-radius: 6px;
font-size: 16px;
height: 50px;
width: 120px;
padding: 5px;
line-height: 50px;
text-align: center;
cursor: pointer;
margin: 15px 0;
text-decoration: none;
}

.r_btn:hover{
    color: white;
    background-color:  #25b9c4bb;
}
.space{
    padding-bottom: 15px;
}
/*styling report*/
.m_report_container .report_container{
    text-align: left;
}

.m_report_container h1{
    padding: 0 0 0 30px;
}
.m_report_container h3{
    text-align: center;
}
.m_report_container h4{
    text-align: left;
}

.report_container p{
    /* font-size: 14px; */
    /* font-weight: 300px; */
}

/*styling the table*/
.m_report_container table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
.tbl-header{
    background-color: #25b7c4;
    height: auto;
    padding: 0;
    margin: 0;
    
    
 }

.m_report_container th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16.5px;
    color: blak;
    text-transform: uppercase;
  }
.m_report_container td{
    padding: 25px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: black;
    border-bottom: solid 1px rgba(230, 227, 227, 0.5);
  }  

  .hide{
     display: none;
  }

  .inventory_tbl td{
    text-align: center;
    margin-right: 10px;
  }

  .inventory_tbl .cat_head{
      text-align: left;
      font-weight: bold;
  }