/* Stylesheet */
.search_result{
    overflow-y: scroll;
}
    
.result_info{
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 0 30px; 
    background: rgb(255, 255, 255);
    
    
    -webkit-box-shadow: 0px 5px 5px 0px rgba(158,155,158,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(158,155,158,1);
    box-shadow: 0px 5px 5px 0px rgba(158,155,158,1);
}

.items{
    margin-top: 30px;
    padding: 10px 0 100px 30px;
}
/* Cooding the Item view */

.item_container{
    height: 200px; 
    border-top: 1px solid #eaeaea;
    width: 98%;
    padding: 30px 0 0 5px;
}

.img{
    /* background: red; */
    width: 20%;
    height: 200px;
    float: left;
}

.item_info{
    width: 79%;
    height: 200px;
    float: left;
    /* background: blue; */
}

.name{
    font-size: 2em;
}

.name > a{
    color: #0E68BD;
    text-decoration: none;
}

.name > a:hover{
    color: rgb(253, 151, 151);
}

.price{
    margin: 5px 0;
    font-size: 18px;
}

