
   /*styling the container*/
.user-wrapper{
    width: 100%;
    font-family:'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}
.imgprofile{
   display: block;
    width: 100%;
   
}

.imgprofile > img{
    width: auto;
    height: 250px;
}

/*styling each row*/
.text{
    margin-left:10px;
    padding: 0;
       
}

.userinfo > .row{
    /* background: red; */
    /* border: 1px solid; */
    height: 75px;
}

 input[type="text"]{
    height: 30px;
    width: 90%;
    font-size: 18px;
    border-radius:5px;
    outline: none;
    background: none;
    border: none;
    border: 1px solid rgb(124, 122, 122);
    color: #fff;
    padding: 10px;
  }
button{
    outline: none;
    border: none;
    cursor: pointer;
}
  .txtbox{
   width: 100%;
   margin-left:10px;
  }

.hide{
 display: none;    
}

.buttons{
    text-align: center;
}
