@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
*{
    margin:0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
/*styling the container*/
.user-wrapper{
    border: 1px solid;
    width: 450px;
    padding-left: 15px;
}
.imgprofile{
   /* border: 1px solid rgb(155, 155, 231);*/
    margin: auto;
    display: block;
    width: 40%;
    padding: 5px 5px 5px 12px;
}
/*styling each row*/
/*.row .fn, .row .ln, .row .email, .row .passwrd, .row .ustype {
    padding: 5px 12px 0px 15px;
    margin-left: 12px;
    width: 80%;
    height: 52px;
}*/
.row .fn, .row .ln, .row .email, .row .passwrd, .row .ustype, .row .btn{
    padding: 10px 12px 5px 12px;
    margin-left:40px;
    width:100%;
    font-family:'Barlow Semi Condensed', sans-serif;
    font-size: 30px;
}
 .fntxt{
    height: 50px;
    padding: 5px 12px 0 12px;
    margin-left: 40px;
    width: 80%;
  }
.row .ln{
    padding: 10px 12px 5px 12px;
    margin-left:40px;
    width:50%;
}
.row .ustype{
    padding-bottom: 18px;
}
.hide{
 display: none;    
}

  /*.row .email{
padding: 5px 5px 5px 12px; 
margin-left:40px;
}
 .row .passwrd{

padding: 5px 5px 5px 12px;
margin-left:40px;
} 
.row .ustype{
padding: 5px 5px 5px 12px;
margin-left:40px;
}*/